

#chatPane{

    -fx-background-color: rgba(0,0,0,0.3);
}



.hbox{
    -fx-background-insets: 15;
    -fx-padding: 12px;
}

#emojiList{
    -fx-font-size: 16px;
    -fx-padding: 2;
    -fx-text-fill: chocolate;
    -fx-background-color: rgba(255,255,255,0.7);
}

#btnEmoji{
    -fx-min-width: 15px;
    -fx-min-height: 15px;
    -fx-padding: 2;
    -fx-background-color: transparent;
    -fx-font-size: 16px;
    -fx-text-fill: chocolate;
    -fx-shape: "M 95.250002,86.845238 A 17.008928,17.386906 0 0 1 78.241074,104.23214 17.008928,
    17.386906 0 0 1 61.232145,86.845238 17.008928,17.386906 0 0 1 78.241074,69.458332 17.008928,
    17.386906 0 0 1 95.250002,86.845238 Z";
}

#txtMsg{
    -fx-padding: 0 19;
    -fx-background-color: transparent, white, transparent,white;
    -fx-background-insets: 0, 6, 0;
    -fx-background-radius: 8em;
}
#txtMsg .scroll-pane{
    -fx-background-color: transparent;
}
#txtMsg .scroll-pane >.viewport , #txtMsg >.viewport{
    -fx-background-color: transparent;
}

#txtMsg .scroll-pane .scroll-bar:vertical, #txtMsg .scroll-bar:vertical{
    -fx-background-color:inherit;
}

#txtMsg .scroll-pane .scroll-bar:vertical .track{
    -fx-background-color:transparent;
    -fx-border-color:transparent;
    -fx-background-radius: 0em;

}
#txtMsg .scroll-pane .scroll-bar:vertical .increment-button,
#txtMsg .scroll-pane .scroll-bar:vertical .decrement-button{
    -fx-background-color:transparent;
    -fx-background-radius: 0em;
    -fx-padding:0 0 10 0;

}

#txtMsg .scroll-pane  .scroll-bar .increment-arrow,
#txtMsg .scroll-pane  .scroll-bar .decrement-arrow {
    -fx-shape: " ";
    -fx-padding:0;
}
#txtMsg .scroll-pane .scroll-bar:vertical .thumb {
    -fx-background-color:transparent;
}


.message{
    -fx-font-size: 14px;
    -fx-font-weight: 300;
}

.text-area .content {
    -fx-background-color: transparent, white, transparent, white;
    -fx-text-alignment: center;
}

.text-area:focused .content {
    -fx-background-color: transparent, white, transparent, white;
}

.txtName{
    -fx-fill: black;
    -fx-font-size: 10px;
}

#scrollPane{
    -fx-background-color: transparent;
}
#scrollPane >.viewport{
    -fx-background-color: transparent;
}

#scrollPane .scroll-bar:vertical{
    -fx-background-color:inherit;

}

#scrollPane .scroll-bar:vertical .track{
    -fx-background-color:transparent;
    -fx-border-color:transparent;
    -fx-background-radius: 0em;

}
#scrollPane .scroll-bar:vertical .increment-button,
#scrollPane .scroll-bar:vertical .decrement-button{
    -fx-background-color:transparent;
    -fx-background-radius: 0em;
    -fx-padding:0 0 10 0;

}

#scrollPane  .scroll-bar .increment-arrow,
#scrollPane  .scroll-bar .decrement-arrow {
    -fx-shape: " ";
    -fx-padding:0;
}
#scrollPane .scroll-bar:vertical .thumb {
    -fx-background-color:transparent;

}
#scrollPane:hover .scroll-bar:vertical .thumb{
    -fx-background-color:rgba(0,0,0,0.6);
    -fx-background-insets: 4, 0, 0;
    -fx-background-radius: 2em;
}


#btnSend{
    -fx-background-color: white;
    -fx-shape: "m 138.55021,89.698036 v 0 l 1.27487,-1.138164 -1.2721,-1.016698 c 4.08005,1.020056 4.33904,0.732386 -0.003,2.154862 z";
}

#btnSend,#btnEmoji:hover{
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.5) , 0.5, 0.5, 2, 2);
}

.incoming-message {
    -fx-background-color: lightblue;
    -fx-text-fill: black;
    -fx-padding: 10px;
    -fx-border-radius: 15px;
    -fx-background-radius: 15px;
    -fx-alignment: center-left;
}
.outgoing-message {
    -fx-background-color: lightgreen;
    -fx-text-fill: white;
    -fx-padding: 10px;
    -fx-border-radius: 15px;
    -fx-background-radius: 15px;
    -fx-alignment: center-right;
}


