.lobby-background {
}

.label {
    -fx-alignment: center;
    -fx-font-family: 'Open Sans', sans-serif;
}

.label{
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.4), 10, 0.5, 0.0, 0.0);
}

.button {
    -fx-background-color: #ff9900;
    -fx-text-fill: white;
    -fx-font-family: 'Open Sans', sans-serif;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-font-size: 13px;
    -fx-font-weight: 700;
}

.button:hover {
    -fx-background-color: #e68a00;
}

.back-button {
    -fx-background-color: #e74c3c;
    -fx-background-radius: 5;
    -fx-text-fill: white;
    -fx-font-family: 'Open Sans', sans-serif;
}

.back-button:hover {
    -fx-background-color: #c0392b;
}

/* ... other styles ... */
