.table-view .column-header,
.table-view .column-header-background .filler {
    -fx-background-color: #6fa2ff;
    -fx-border-width: 2;
    -fx-border-color: #F9F9F7;
    -fx-border-radius: 1;
}
.table-view .column-header .label{
    -fx-text-fill: #F9F9F7;
    -fx-font-weight: bold;
    -fx-font-size: 30;
    -fx-alignment: CENTER;
}
.table-view .cell{
    -fx-background-color: #9E9A9A;
    -fx-text-fill: #F9F9F7;
    -fx-font-size: 20;
    -fx-font-weight: bold;
    -fx-alignment: CENTER;
    -fx-border-width: 0.2;
    -fx-border-color: #F9F9F7;
}