
.label{
    -fx-background-color: rgba(0, 0, 0, 0.6);
    -fx-padding: 5;
    -fx-background-radius: 30;
}
#p1, #pt1{
    -fx-text-fill: rgba(255, 0, 0, 0.5);
}
#p2,  #pt2{
    -fx-text-fill: rgba(255, 255, 255, 0.7);
}
#p3, #pt3 {
    -fx-text-fill: rgba(0, 255, 58, 0.5);
}
#p4, #pt4 {
    -fx-text-fill: rgba(191, 0, 255, 0.5);
}
#p5, #pt5{
    -fx-text-fill: rgba(244, 255, 0, 0.5);
}
#p6, #pt6{
    -fx-text-fill: rgba(255, 138, 0, 0.5);
}
