#background{
    -fx-background-image: url("bg.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
}
.label{
    -fx-background-color: rgba(0, 0, 0, 0.6);
    -fx-padding: 5;
    -fx-background-radius: 30;
}
#p1{
    -fx-text-fill: rgba(255, 0, 0, 0.5);
}
#p2{
    -fx-text-fill: rgba(0, 5, 255, 0.5);
}
#p3{
    -fx-text-fill: rgba(0, 255, 58, 0.5);
}
#p4{
    -fx-text-fill: rgba(191, 0, 255, 0.5);
}
#p5{
    -fx-text-fill: rgba(244, 255, 0, 0.5);
}
#p6{
    -fx-text-fill: rgba(255, 138, 0, 0.5);
}
